@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
    font-family: 'Zen Kaku Gothic New';
    line-height: 1.75;
    color: #000;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover{
    opacity: 60%;
}


img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
    margin-bottom: 0.05rem;
}

/* Outfitフォント */
.outfit {
    font-family: 'Outfit';
    font-weight: 700;
}

/*各セクションの左右の余白*/
.cover,
.contact,
.about,
.reasons,
.faq {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container {
    padding-top: 2.3rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    text-align: center;
    max-width: 22.5rem;
    width: 100%;
    padding-left:0rem;
    padding-right:0rem;
}

@media (min-width: 768px) {
    .container {
        padding-top: 4.9rem;
        padding-bottom: 4.65rem;
        max-width: 68.75rem;
    }
}


.about,
.reasons,
.faq {
    color: #000;
    background-color: #FFFAF5;
}

h2.section__title-main {
    color: #004DA4;
    text-align: center;
    font-size: 1rem;
}

@media (min-width: 768px) {
    h2.section__title-main {
        font-size: 1.25rem;
    }
}

.section__title-sub {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
    .section__title-sub {
        font-size: 1.75rem;
    }
}

.section__text{
    text-align: left;
}

/* ボタン */
.button {
    display: block;
    color: #fff;
    background-color: #004DA4;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
    max-width: 14.5rem;
    width: 100%;
    height: 2.813rem;
    font-weight: 600;
    font-size: 1rem;
    align-content: center;
    letter-spacing: -1px;
}

@media (min-width: 768px) {
    .button {
        width: 21.125rem;
        max-width: unset;
        height: 4rem;
        font-size: 1.375rem;
    }
}

.button:hover {
    background-color: #FD5B19;
}

/* cover
------------------------------------------ */
.cover {
    background-color: #FD5B19;
    min-height: 40.6rem;
}

@media (min-width: 768px) {
    .cover {
        min-height: 43.7rem;
    }
}

.cover .container{
    padding-top:0.3rem;
    padding-bottom:0rem;
    max-width: 22.5rem;
    width: 100%;
    background-image: url("/assets/image/cover.png");
    background-position: center 4.8rem;
    position: relative;
    background-size: auto;
}

@media (min-width: 768px) {
    .cover .container{
        background-size: 39%;
        max-width: 75rem;
        background-position: 90% 1.8rem;
    }
}

h1.cover__logo {
    text-align: center;
}

@media (min-width: 768px) {
    h1.cover__logo {
        text-align: left;
        margin-left: 1.5rem;
    }
}

.cover__logo img{
    max-width: 9.125rem;
    width: 100%;
}

@media (min-width: 768px) {
    .cover__logo img{
        width: 12.188rem;
        max-width: unset;
        margin-top: 1.5rem;
    }
}

.cover__catch {
    top: 73.5%;
    position: absolute;
    text-align: left;
}

@media (min-width: 768px) {
    .cover__catch {
        width: 50%;
        top: 34.5%;
        left: 7.2%;
    }
}

span.cover__catch-text-sub {
    font-size: 0.938rem;
    color: #fff;
    line-height: 1.25;
    white-space: nowrap;
}

@media (min-width: 768px) {
    span.cover__catch-text-sub {
        font-size: 1.563rem;
    }
}

p.header__catch-text.outfit {
    font-size: 2.375rem;
    color: #fff;
    line-height: 1.25;
    margin-bottom: 0.25rem;
}

@media (min-width: 768px) {
    p.header__catch-text.outfit {
        font-size: 4rem;
        margin-bottom: 1.35rem;
    }
}

/* contact
------------------------------------------ */
.contact {
    background-color: #BCE0EB;
    color: #004DA4;
    font-size: 0.875rem;
    font-weight: 700;
}

@media (min-width: 768px) {
    .contact {
        font-size: 1.25rem;
    }
}

.contact.container {
    padding-top: 1.6rem;
    padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .contact.container {
        padding-top: 2.8rem;
        padding-bottom: 2.5rem;
        padding-left: 1rem;
    }
}

p.contact__text {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 0.6rem;
}

@media (min-width: 768px) {
    p.contact__text {
        margin-left: 1rem;
        margin-bottom: 1.3rem;
    }
}


p.contact__text::before,
p.contact__text::after {
    content: "";
    width: 33px;
    height: 1px;
    background-color: #004DA4;
    margin: 12px 0px 4px;
}

@media (min-width: 768px) {
    p.contact__text::before,
    p.contact__text::after {
        width: 50px;
        margin: 16px -4px 0px;
    }
}

p.contact__text::before {
    transform: rotate(60deg);
}

p.contact__text::after {
    transform: rotate(-60deg);
}



/* ABOUT
------------------------------------------ */
@media (min-width: 768px) {
    .about.container {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        justify-content: left;
        padding-left: 4.5%;
        gap: 9%;

    }

    .about__content {
        width: 56.1%;
        align-content: center;
        padding: 0% 0.6% 0 2.8%;
    }

    .about img{
        width: 18.509rem;
        max-width: unset;
    }
}

@media (min-width: 768px) {
    .about h2.section__title-main {
        text-align: left;
    }
}


@media (min-width: 768px) {
    .about .section__title-sub {
        text-align: left;
    }
}


.about__content p {
    text-align: left;
    margin-bottom: 1.9rem;
}

@media (min-width: 768px) {
    .about__content p {
        line-height: 1.9;
        margin-bottom: 0rem;
    }
}



/* REASONS
------------------------------------------ */
@media (min-width: 768px) {
    .reasons__content{
        line-height:1.6;
    }
}


@media (min-width: 768px) {
    .reasons h2.section__title-main.outfit {
        margin-left: 1rem;
    }
}

span.reasons_logo.outfit {
    color: #FD5B19;
    font-size: 1.875rem;
}

@media (min-width: 768px) {
    span.reasons_logo.outfit {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    .reasons .section__text {
        text-align: left;
        max-width: 56.263rem;
        margin: 0 auto;
        letter-spacing: -0.1px;
        padding-left: 0.4rem;
        line-height: 1.9;
    }
}

span.pc-only{
    display: none;
}

@media (min-width: 768px) {
    span.pc-only{
        display:contents;
    }
}

.reasons img {
    border-radius: 50%;
    margin: 2.8rem auto 0rem;
}

@media (min-width: 768px) {
    .reasons img {
        width:14.875rem;
        height:14.875rem;
        margin: 4.2rem 0 0rem;
    }
}

h3.reasons  {
    line-height: 1.5;
    text-align: center;
}

.reasons__list{
    align-items: center;
    justify-content: center;
    margin-bottom: 0.2rem;
}

@media (min-width: 768px) {
    .reasons__list {
        display: flex;
        justify-content: center;
        column-gap: 5.7%;
        margin-left: 0.5rem;
    }
}

.reasons__list-inbox {
    position: relative;
}

.reasons h3.section__title-sub {
    line-height: 1.4;
}

@media (min-width: 768px) {
    .reasons h3.section__title-sub {
        display: flex;
        justify-content: center;
        align-items: baseline;
        font-weight: 700;
        letter-spacing: 0.4px;
        margin-left: 1rem;
        font-size:1.75rem;
    }
}

.reasons h3.section__title-sub span {
    display: inline-block;
}

h4.reasons__list-title.outfit {
    text-align: left;
    font-size: 2.5rem;
    color: #FD5B19;
    position: absolute;
    top: 7%;
    left: 25%;
}

@media (min-width: 768px) {
    h4.reasons__list-title.outfit {
        font-size: 3.5rem;
        top: 5%;
        left: 1%;
    }
}

span.reasons_number.outfit {
    font-size: 2rem;
}

@media (min-width: 768px) {
    span.reasons_number.outfit {
        font-size: 3rem;
    }
}

.reasons__list span{
    text-align: left;
    display: inline-block;
    font-size:1.125rem;
}

@media (min-width: 768px) {
    .reasons__list span{
        font-size: 1.25rem;
        margin-top: 0.5rem;
    }
}


/* FAQ
------------------------------------------ */
.faq.container {
    padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .faq.container {
        padding-bottom: 4rem;
    }
}

@media (min-width: 768px) {
    .faq__content {
        line-height: 1.6;
    }

    .faq h2.section__title-main.outfit {
        margin-left: 1rem;
    }

    .faq h3.section__title-sub{
        margin-left:1rem;
    }

    .faq .section__text{
        max-width: 56.263rem;
        margin: 0 auto;
        letter-spacing: -0.1px;
        padding-left: 0.4rem;
        line-height: 1.9;
    }
}

.faq__list {
    margin-top: 1.8rem;
}

@media (min-width: 768px) {
    .faq__list {
        margin-left: 1rem;
    }
}

.faq dl {
    background-color: #fff;
    border: #FD5B19 solid;
    border-radius: 0.5rem;
    margin-bottom: 0.85rem;
    max-width: 50rem;
    margin: 0 auto 0.9rem;
}

@media (min-width: 768px) {
    .faq dl {
        margin: 0 auto 1rem;
    }
}

p.qa__q-icon.outfit {
    color: #FD5B19;
}

@media (min-width: 768px) {
    p.qa__q-icon.outfit {
        font-size: 1.75rem;
    }
}

p.qa__accordion-title-text {
    text-align: left;
    padding-right: 2.3rem;
    padding-left: 0.7rem;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: -0.1px;
    line-height: 1.7;
}

@media (min-width: 768px) {
    p.qa__accordion-title-text {
        font-size: 1.125rem;
        padding: 0.6rem 2.6rem 0rem 1rem;
        letter-spacing: 0.1px;
    }
}

.faq dl dt {
    display: flex;
    padding: 1.1rem 1.2rem;
    position: relative;
}

@media (min-width: 768px) {
    .faq dl dt {
        padding: 1.1rem 1.8rem ;
    }
}

dd.qa__accordion-content {
    padding: 0rem 1.5rem 1rem 1rem;
    line-height: 1.9;
    letter-spacing: 0.1px;
    font-size: 0.875rem;
    text-align: left;
}

@media (min-width: 768px) {
    dd.qa__accordion-content {
        padding: 0rem 1.5rem 1.4rem 1.8rem;
        line-height: 1.4;
        letter-spacing: -2px;
        font-size: 1.125rem;
    }
}

.qa__button span{
    position: absolute;
    top: 2rem;
    right: 5%;
    display: block;
    width: 16px;
    height: 2px;
    background: #000;
}

.open .qa__button span:nth-child(2){
    display: none;
}

.open .qa__button span:nth-child(2){
    display: block;
    width: 2px;
    height:16px;
    background: #000;
    top:1.6rem;
    right: 7%;
}

@media (min-width: 768px) {
    .qa__button span{
        top: 2.6rem;
        right: 4%;
    }

    .open .qa__button span:nth-child(2){
        display: none;
    }

    .open .qa__button span:nth-child(2){
        display: block;
        width: 2px;
        height:16px;
        background: #000;
        top:2.2rem;
        right: 4.8%;
    }
}

/* footer
------------------------------------------ */
footer {
    background-color: #333;
    text-align: center;
    height:15.125rem;
}

@media (min-width: 768px) {
    footer {
        height:6.5rem;
    }
}

.footer.container {
    padding-top: 2rem;
}

@media (min-width: 768px) {
    .footer.container {
        display: flex;
        align-content: center;
        max-width: 68.75rem;
        justify-content: space-between;
        padding-top: 1.7rem;
        padding-bottom:0rem;
    }
}

.footer__list {
    margin-top: 1rem;
    line-height: 2;
}

@media (min-width: 768px) {
    .footer__list {
        margin-top:0rem;
        column-gap: 2rem;
        display: flex;
        white-space: nowrap;
        margin-bottom: 0;
    }
}

.footer__list a {
    font-size: 0.75rem;
}

@media (min-width: 768px) {
    .footer__list a {
        font-size: 0.813rem;
    }
}

@media (min-width: 768px) {
    footer img{
        width:12.188rem;
        margin-left: 0.8rem;
    }

    footer li{
        margin-bottom: 0rem;
    }
}